$title_color: white;
$meta_color: #ccc;
$rounded: 50%;
$size_circle: 100px;
$background: #003049;
$background_img: #fdf0d5;
$border_card: 5px;

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /*flex-direction: column;*/

}

.card-circle {
  margin: 30px 20px;
  width: $size_circle;
  height: $size_circle;
  border-radius: $rounded;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.1), -5px -5px 30px 7px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.4s;

  .round img {
      width: inherit;
      height: inherit;
      border-radius: $rounded;
      object-fit: cover;
  }

  .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    height: 40px;
    color: $title_color;
  }

}

.card-big {
  width: 85% !important;
  margin: 0 auto !important;
  text-align: center;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);

  .round{
    margin-top: 30px;
  }
  .card_details {
    text-align: center;
    padding: 15px;
  }
}



.card-small{
  width: 100px !important;
}

.card {
  background-color: $background;
  border-radius: $border_card;
  position: relative;
  width: 150px;
  margin: 10px;
  
  .card_icon {
    position: absolute;
    margin: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    a{
      text-decoration: none;
    }
  }

  .card_link {
    display: block;
    text-decoration: none;
  }

  .card_img img{
    background-color: $background_img;
    border-radius: $border_card;
    width: 100%;
  }

  .card_header {
    position: relative;

    .card_header-title {
      margin: 0 0 .25em;
      color: $title_color;
    }

    .card_header-meta {
      margin: 5px;
      color: $meta_color;
    }
  }

}

/*
.card {
  .text {
     .food {
        color: $black;
        text-align: left;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 5px 30px;
     }
  }
  .stars {
     margin: 10px 30px;
     li a i {
        color: $star;
     }
  }
  .info {
     margin: 10px 30px;
  }
}


*/

