$title_color: black;
$rounded: 50%;
$size_circle: 100px;
$background: linear-gradient(to bottom right, #72C1AC,#FFF9DC);

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*flex-direction: column;*/
}

.card-circle {
  margin: 30px auto;
  width: $size_circle;
  height: $size_circle;
  border-radius: $rounded;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.1), -5px -5px 30px 7px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.4s;

  .round img {
      width: inherit;
      height: inherit;
      border-radius: $rounded;
      object-fit: cover;
  }

  .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-weight: bold;
    font-size: 20px;
    margin-top: -10px;
    height: 40px;
    color: $title_color;
  }

  &:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

}

.card-container {
  background-image: $background;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  padding-top: 30px;
  position: relative;
  width: 320px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

.details {
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
