$title_color: white;
$meta_color: #ccc;
$rounded: 50%;
$size_circle: 100px;
$background: #c1121f;
$background_img: #fdf0d5;
$border_card: 5px;

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*flex-direction: column;*/
}

.card-circle {
  margin: 30px auto;
  width: $size_circle;
  height: $size_circle;
  border-radius: $rounded;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.1), -5px -5px 30px 7px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.4s;

  .round img {
      width: inherit;
      height: inherit;
      border-radius: $rounded;
      object-fit: cover;
  }

  .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-weight: bold;
    font-size: 20px;
    margin-top: -10px;
    height: 40px;
    color: $title_color;
  }

  &:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

}

.card-container {
  background-color: $background;
  border-radius: $border_card;
  position: relative;
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
}

.details {
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

.card {
  background-color: $background;
  border-radius: $border_card;
  position: relative;
  width: 150px;
  margin: 5px;

  &:hover {
    box-shadow: 0 10px 20px 10px rgba(black, .2);
  }
}

.card_link {
  display: block;
  text-decoration: none;
}

.card_img img{
  background-color: $background_img;
  border-radius: $border_card;
  width: 100%;
}

.card_header {
  position: relative;
}

.card_header-title {
  margin: 0 0 .25em;
  color: $title_color;
}

.card_header-meta {
  margin: 5px;
  color: $meta_color;
}

.card_header-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  width: 20px;
  height: 20px;
}