$margin_img: 10px;
$width_logo: 200px;
$height_logo: 200px;
$rounded: 50%;
$size_circle: 100px;
$background_img: #fdf0d5;

.logo{
  margin: $margin_img;
  width: $width_logo;
  height: $height_logo;

}

.logo2{
  width: $width_logo / 2;
  height: $height_logo / 2;
}

.logo-min{
	width: $width_logo / 4;
	height: $height_logo / 4;
}

.detalle{
  margin: $margin_img;
  width: 100px;
}

.img-perfil{
	margin: $margin_img;
	width: 80px;
}

.round {
  width: $size_circle;
  height: $size_circle;
  border-radius: $rounded;
  background-color: $background_img;
}