nav{
  background-color: #72c1ac;
  justify-content: space-between;
  display: flex;
  padding: 5px;
  margin-bottom: 30px;
  border-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}