$btn_primarycolor: #003049;
$btn_secondarycolor: #780000;

$opcion_width: 50%;
$opcion_height: 50%;
$opcion_margin: 0 5px;

.btn-primary{
  background-color:$btn_primarycolor;
  color:white;
  padding: 10px 20px;
  text-decoration: none;
}

.btn-second{
  background-color:$btn_secondarycolor;
  color:white;
  padding: 10px 20px;
  text-decoration: none;
}

.btn-transparent{
  background-color: transparent;
  border-color: transparent;
}

.opcion{
  width: $opcion_width;
  height: $opcion_height;
  margin: $opcion_margin;
}
