$text_color: black;
$input_width: 80%;
$input_boderradius:4px;
$input_background: white;
$box_sizing_value: border-box;
$input_padding: 12px 20px;
$input_margin: 5px auto;
$input_display: inline-block;
$input_border: 1px solid #ccc;
$input_borderhover: 2px solid #003049;
$input_hover: #003049;
$text_mute: #747474;
$text_select: #fff;

input[type=text], input[type=password], input[type=date], input[type=time], select {
  width: $input_width;
  padding: $input_padding;
  margin: $input_margin;
  display: $input_display;
  border: $input_border;
  border-radius: $input_boderradius;
  box-sizing: $box_sizing_value;
  background-color:$input_background;
  &:hover, &::selection, &:active, &:focus{
    border: $input_borderhover;
    outline: none;
  }
}

input[type=button] {
  width: $input_width;
  padding: $input_padding;
  margin: $input_margin;
  border: none;
  border-radius: $input_boderradius;
  cursor: pointer;

  &:hover, &::selection, &:active, &:focus{
    background-color: $input_hover;
    border: $input_borderhover;
    outline: none;
  }
}

label{
  color:$text_color;
}

/* Selec with images */
.selectbox {
	width: $input_width;
  margin: $input_margin;
  position: relative;

  .select {
    background: $input_background;
    width: 100%;
    border: $input_border;
    border-radius: $input_boderradius;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &:hover {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
      border: $input_borderhover;
    }

  }

}

.select.active{
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
  border: $input_borderhover;
  margin-bottom: 15px;

  &:before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 15px solid #003049;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
  }
}

.select i {
	font-size: 30px;
	margin-right: 15px;
	color: $input_hover;
}

.titulo {
  font: 400 13.3333px Arial;
  padding: $input_padding;
  margin: 0;
	color: $text_color;
}

.descripcion {
  font: 400 13.3333px Arial;
	color: $text_mute;
}

.opciones {
	background: $input_background;
	border-radius: $input_boderradius;
	box-shadow: 0px 5px 10px rgba(0,0,0,.16);
	max-height: 300px;
	overflow: auto;
	z-index: 100;
	width: 100%;
  display: none;
  
  &.active {
    display: block;
    animation: fadeIn .3s forwards;

    .opcion{
      margin: 0;
    }
    
    a{
      text-decoration: none;
    }
  }
}

.contenido-opcion {
	width: 100%;
	display: flex;
  align-items: center;
  
  .opciones & {
    padding: 5px;
  }

  .opciones &:hover {
    background: $input_hover;

    & .titulo, & .descripcion{
      color: $text_select;
    }
  }

  & img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    object-fit: cover;
  }
}